<header>
  <h1 class="h2">Staff Details</h1>
</header>

<%= render 'curstaff' %>

<div class="ui segment">
  <h3 class="ui left floated header">Kudos for <%= @staff.first_name %> <%= @staff.last_name %></h3>
  <div class="ui clearing divider"></div>
  <p>
  <table class="ui celled padded table">
    <%= render @staff.kudos %>
  </table>
  </p>
</div>

