<header>
  <h1 class="h2">Send a Kudo</h1>
</header>

<%= render 'curstaff' %>

<div class="ui segment">
  <h3 class="ui left floated header">Send a Kudo to <%= @staff.first_name %> <%= @staff.last_name %></h3>

  <div class="ui clearing divider"></div>
  <p><%= render 'kudos/form' %></p>
</div>