<%= form_for([@staff, @staff.kudos.build]) do |f| %>
    <p>
      <%= f.label :Message, class: 'col-sm-2 control-label' %><br>
      <%= f.text_area :message, class: 'form-control'%>
    </p>
    <p>
      <%= f.submit 'submit', class: 'btn btn-primary btn-sm'%>
    </p>
<% end %>