<div class="h5 pull-right">
  <%= link_to 'Delete Kudo', [kudo.staff, kudo], class: 'btn btn-primary btn-sm',
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</div>
