<% kudos.each do |kudo| %>
    <li class="list-group-item clearfix">
    <% if policy(:kudo).destroy? %>
      <%= render partial: "kudos/kudoDelete", locals: {kudo: kudo} %>
    <% end %>
      <h3 class="list-group-item-heading">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <%= render partial: "kudos/kudoRecipient", locals: {kudo: kudo} %>
      </h3>

      <strong><small class="text-uppercase">Sender:</small></strong>
      <%= kudo.sender %>

      <%= render partial: "kudos/kudoMessage", locals: {kudo: kudo} %>

    </li>
<% end %>